RewriteEngine on
RewriteCond %{HTTP_HOST} ^pirhoo.com
RewriteCond %{REQUEST_URI} !^/(.*)$
RewriteRule ^(.*)$ /$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^pirhoo.cloudcontrolled.com
RewriteRule ^(.*)$ http://pirhoo.com/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.pirhoo.com