@import "compass/reset";
@import "base";

body {
    font: 13px arial,sans-serif;
    color: #000000;
    background:#1D2528;
    background: #fff;
    
	&.bp {
		.first { clear:left; }
	}
}

.fleft { float: left; }
.fcenter { margin: 0 auto; }
.fright { float: right; }

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.tj { text-align: justify; }

a {
    color:$base-link-color;
    text-decoration: none;
    text-shadow:1px 1px 0 white;
}

::selection {
        background: #388AC4;
		color:white;
}

::-moz-selection {
        background: #388AC4;
		color:white;
}

.fhidden { display: none !important; }
.hidden { display: none ; }

.breaker {
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}


h1 {
    font-size:30px;
    line-height:28px;
	font-family:'Terminal Dosis', arial,sans-serif;
}

h2 {
    font-size:36px;
    line-height:32px;
	margin-bottom:30px;
	font-family:'Terminal Dosis',  arial,sans-serif;
}

h3 {
    font-size:20px;
    line-height:16px;
	font-family:'Terminal Dosis', arial,sans-serif;
	letter-spacing:0.1em;
	word-spacing:0.1em
}

h4 {
    font-size:16px;
    line-height:14px;
}

h5 {
    font-size:14px;
    line-height:12px;
}

.text-center {
	text-align:center;
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

input.text, input.search,
textarea {
	
    border:1px solid #aaa;    
	@include box-shadow(0 1px 2px 0 rgba(#000,0.4) inset);
	@include border-radius(3px);	

    padding:4px;    
    font: 13px arial,sans-serif;
    
}

input.search {
	@include border-radius(20px);
	position:relative;
	padding-right:10px;
	padding-left:30px;	
	
	width:190px;	
	
	background-image:url("../image/search.png");
	background-position:5px center;
	background-repeat:no-repeat;
}


input.text.ltr,
textarea.ltr{
    text-align:left;
}

.rtl, input.text.rtl,
textarea.rtl {
    text-align:right;
}

input.text:focus,
textarea:focus{
    outline: none;    
    border-color:lighten($base-link-color, 20%);
}


input.button, input.submit, .button {
    
    cursor: pointer;
    
    margin:0 6px 0 0;
    position: relative;
    bottom:1px;
    z-index:1;
    
    font-size:11px;
    line-height: 17px;
    padding:3px 15px;
    
    border: #AAAAAA solid;
    border-width: 1px 1px 2px;	
	@include border-radius(3px);
    
    color:black;
	@include text-shadow(1px 1px 0 white);
	a { 
		color:inherit; 
		@include text-shadow(inherit);
	}
    
    
	@include bg-gradient(#ffffff, #e5e5e5);    
    @include box-shadow(1px 0 4px 0 rgba(0, 0, 0, 0) inset);
	@include transition(background 0.2s);
		
	&:active{
	    border-width:1px;
		position:relative;
		bottom:0px;
	}


	&.disabled {
	    color:#aaa; 
	    cursor:default;
	    text-decoration: line-through;
	}


	&.selected {

	    color:white;
		@include text-shadow(1px 1px 0 #73a05b);
		@include bg-gradient(#a9db80, #73a05b);
		
	  	border: {
			color: #73a05b;
			bottom: {
				color:darken(#73a05b, 20%);
			}
		}
		
		
	}
		
	
	&.start {
	    margin-right:0px;    	
		@include border-radius($base-button-radius 0 0 $base-button-radius);
	}


	&.middle {
	    margin:0;    	
		@include border-radius(0);    
	    z-index:3;
	}

	&.end {
	    margin-left:0px;
	    border-left-width: 0;    
		@include border-radius( 0 $base-button-radius $base-button-radius 0);    
	    z-index:2;
	}
	

	&.red {
	    color:white;
	    @include text-shadow(1px 1px 0 #6d0019);
		@include bg-gradient(#a90329, #6d0019);
	    border-color:#6d0019;		
	}

	&.raspberry {
	    color:white;
		@include text-shadow(1px 1px 0 #FF6B6B);
		@include bg-gradient(#febbbb, #ff5c5c);   		
	    border-color:#FF6B6B;

	}


	&.green {
	    color:white;
		@include text-shadow(1px 1px 0 #56B218);
		@include bg-gradient(#a9db80, #56b218);
	    border-color:#56B218;	

	}


	&.apple {
	    color:white;
		@include text-shadow(1px 1px 0 #56B218);
		@include bg-gradient(#cdeb8e, #a5c956);
	    border-color:#a5c956;

	}

	&.blue {
	    color:white;
		@include text-shadow(1px 1px 0 #0064A3);
		@include bg-gradient(#258dc8, #0064a3);
	    border-color:#0064A3;

	}

	&.sky {
	    color:white;
		@include text-shadow(1px 1px 0 #0064A3);
		
	    border: {
			color:#5ea1d1;
			bottom:{
				color:darken(#5ea1d1, 10%);
			}
		}
	
		@include bg-gradient(#a7c7dc, #5ea1d1);	
		
		&.disabled {
		    color:white;
		}
		
		&:hover, &:active {			
		    border: {
				color:#5ea1d1;
				width:1px;
				bottom:{
					color:darken(#5ea1d1, 10%);
					width:2px;
				}
			}
		}
		&:active {
			border-bottom-width:1px;
		}
	}

}

input[type=submit], input.submit {
    font-weight: bold;
}


input[type=submit]:active, 
input.submit:active {
    border-color: #AAAAAA;
}



.select-required input[type=button].selected, 
.select-required input.button.selected, 
.select-required .button.selected {
    cursor:default;
}

.icon { position:relative; }
.icon:after {
	
	content:" ";
	width:24px;
	height:24px;

	position:absolute;
	top:0;
	right:0;

	background:url("../image/icons.png") no-repeat 0 0;
	display:none;
}


.icon.site:after {
	background-position:-11*24px -1*24px;
	display:block;
}	

.icon.ddj:after {
	background-position:-6*24px -4*24px;
	display:block;
}
	
.icon.article:after {
	background-position:0*24px -3*24px;
	display:block;
}	

.icon.speach:after {
	background-position:-10*24px -5*24px;
	display:block;
}	

.ui-tabs {
	 
	height:30px;
	margin:0;	
	padding-left:42px;	
	
	li {				
		
		position:relative;
		height:34px;
		
		display:block;
		float:left;						
		margin:0 21px -1px 21px;

		background:url("../image/paper-pattern.jpg") repeat;		
		@include transition(margin 0.3s);

		a { 							
			display:block; 
			color:#888;
			padding:9px 0;
			padding-bottom:8px;
			
			cursor:pointer;			
			@include text-shadow(1px 1px 0 #fff);
									
			border-top:1px solid #bbb;
			background:rgba(#fff, 0.4);				
		}		

		

		&.selected {				
			z-index:35;					
			
			padding-bottom:1px;			
			margin:0 21px -1px 21px;

			a {
				color:$base-link-color;	
			}


			&:before,
			&:after {			
				z-index:35;	
				height:36px;											
			}
		}						
			

		&:before,
		&:after {
			position:absolute;		
			z-index:30;		
			top:0;

			height:100%;
			width:42px;

			background: 0 0 no-repeat;

			display:block;
			content:"";
		}

		&:before {				
			background-image: url("../image/tab-start.png");
			left:-42px;		
			z-index:25;			
		}

		&:after {				
			background-image: url("../image/tab-end.png");
			right:-42px;		
		}

		
	}
}

.ui-panel {
	
	position:relative;
	z-index:32;
	
}

.coll-24 { float:left; width:(100*24/24)*1%; }
.coll-23 { float:left; width:(100*23/24)*1%; }
.coll-22 { float:left; width:(100*22/24)*1%; }
.coll-21 { float:left; width:(100*21/24)*1%; }
.coll-20 { float:left; width:(100*20/24)*1%; }
.coll-19 { float:left; width:(100*19/24)*1%; }
.coll-18 { float:left; width:(100*18/24)*1%; }
.coll-17 { float:left; width:(100*17/24)*1%; }
.coll-16 { float:left; width:(100*16/24)*1%; }
.coll-15 { float:left; width:(100*15/24)*1%; }
.coll-14 { float:left; width:(100*14/24)*1%; }
.coll-13 { float:left; width:(100*13/24)*1%; }
.coll-12 { float:left; width:(100*12/24)*1%; }
.coll-11 { float:left; width:(100*11/24)*1%; }
.coll-10 { float:left; width:(100*10/24)*1%; }
.coll-9  { float:left; width:(100*9/24)*1%;  }
.coll-8  { float:left; width:(100*8/24)*1%;  }
.coll-7  { float:left; width:(100*7/24)*1%;  }
.coll-6  { float:left; width:(100*6/24)*1%;  }
.coll-5  { float:left; width:(100*5/24)*1%;  }
.coll-4  { float:left; width:(100*4/24)*1%;  }
.coll-3  { float:left; width:(100*3/24)*1%;  }
.coll-2  { float:left; width:(100*2/24)*1%;  }
.coll-1  { float:left; width:(100*1/24)*1%;  }



.top-1 { margin-top:10px; }
.top-2 { margin-top:20px; }
.top-3 { margin-top:30px; }
.top-4 { margin-top:40px; }
.top-5 { margin-top:50px; }
.top-6 { margin-top:60px; }
.top-7 { margin-top:70px; }
.top-8 { margin-top:80px; }
.top-9 { margin-top:90px; }
.top-10 { margin-top:100px; }

.bottom-1 { margin-bottom:10px; }
.bottom-2 { margin-bottom:20px; }
.bottom-3 { margin-bottom:30px; }
.bottom-4 { margin-bottom:40px; }
.bottom-5 { margin-bottom:50px; }
.bottom-6 { margin-bottom:60px; }
.bottom-7 { margin-bottom:70px; }
.bottom-8 { margin-bottom:80px; }
.bottom-9 { margin-bottom:90px; }
.bottom-10 { margin-bottom:100px; }

.left-1 { margin-left:10px; }
.left-2 { margin-left:20px; }
.left-3 { margin-left:30px; }
.left-4 { margin-left:40px; }
.left-5 { margin-left:50px; }
.left-6 { margin-left:60px; }
.left-7 { margin-left:70px; }
.left-8 { margin-left:80px; }
.left-9 { margin-left:90px; }
.left-10 { margin-left:100px; }

.right-1 { margin-right:10px; }
.right-2 { margin-right:20px; }
.right-3 { margin-right:30px; }
.right-4 { margin-right:40px; }
.right-5 { margin-right:50px; }
.right-6 { margin-right:60px; }
.right-7 { margin-right:70px; }
.right-8 { margin-right:80px; }
.right-9 { margin-right:90px; }
.right-10 { margin-right:100px; }


.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}